<div class="container px-md-5 bg-white shadow-lg">
  <%- include("./layout/head.ejs") %> <%- include("./layout/nav.ejs") %>

  <div class="px-4 py-5 my-5">
    <h3>
      cooking blog is a huge selection of delicious recipe ideas that have been
      taken from Jamie Oliver's website. Go ahead and add your own recipe and
      share it with others.
    </h3>
    <div class="col-lg-8">
      <p class="lead py-5 my-5">
        I built this blog by following Raddy's tutorial
      </p>
    </div>
  </div>

  <%- include("./layout/footer.ejs") %>
</div>
