<div class="container px-md-5 bg-white shadow-lg">
  <%- include("./layout/head.ejs") %> <%- include("./layout/nav.ejs") %>

  <h1 class="pb-4">Contact</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <td>Mohamed {Capo}</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="col"><i class="bi bi-telephone-fill"></i></th>
        <td>+358 442 08 0939</td>
      </tr>
      <tr>
        <th scope="col"><i class="bi bi-terminal-fill"></i></th>
        <td>https://capo-portfolio.netlify.app/</td>
      </tr>
      <tr>
        <th scope="col"><i class="bi bi-linkedin"></i></th>
        <td>https://www.linkedin.com/in/mohamed-capo/</td>
      </tr>
      <tr>
        <th scope="col"><i class="bi bi-linkedin"></i></th>

        <td>madel413@gmail.com</td>
      </tr>
    </tbody>
  </table>

  <%- include("./layout/footer.ejs") %>
</div>
